*{
  font-family: 'Josefin Sans', sans-serif;
  --color: white;
}
ion-header{
  --ion-background-color: #749414;
}
ion-toolbar img{
  height: 70px;
  width: 70px;
  float: right;
}
ion-title{
  font-size: 20px;
  --color: white;
}
ion-content{
  --ion-background-color: #99B44A;
  color: black;
}
ion-card {
  --background: white;
  --color: black;
}

ion-card-title {
  --color: orange;
}

ion-card-subtitle {
  --color: black;
}
ion-card-header .cover{
  height: 100px;
  width: auto;
  z-index: -1;
}

ion-label .good{
  color: orange;
}