<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="food-planner">
      <ion-label>Food Planner</ion-label>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-label>Map</ion-label>
      <ion-icon name="navigate-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-label>Notifications</ion-label>
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account-page">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>