<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Account Page
    </ion-title>
    <img src="../../assets/icon/logooo.png" alt="">
  </ion-toolbar>
</ion-header>

<!-- HELP -->
<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <img src="../../assets/icon/logohelp.png" alt="">
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="help-outline" (click)="help()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>

  <!-- PROFILE -->
  <ion-card>
    <ion-card-header>
      <div class="cover">
        <img src="../../assets/icon/carrot-bg.jpg" alt="">
      </div>

      <div class="profile">
        <img src="../../assets/icon/carrot.jpg" alt="">
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Edrick Lloyd Defeo</ion-card-title>
      <ion-card-subtitle>Vegetarian</ion-card-subtitle>
      a person who does not eat meat, and sometimes other animal products, especially for moral, religious, or health reasons. IS ME!
    </ion-card-content>
  </ion-card>
    
  <!-- INTERESTS -->
  <div class="interests">
    <h3>INTERESTS</h3>
  <ion-card color="primary">
    <ion-card-header >
      <img src="../../assets/icon/orange.png" alt="">
      <ion-card-title>Orange</ion-card-title>
      <ion-card-subtitle>Citrus × sinensis</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Citrus × sinensis, also known as the sweet oranges, is a commonly cultivated family of oranges that includes blood oranges and navel oranges.
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <img src="../../assets/icon/tofu.png" alt="">
      <ion-card-title>Tofu</ion-card-title>
      <ion-card-subtitle>(Glycine max (L.) Merr</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A high-quality source of calcium, isoflavones, and plant-based protein, tofu is produced by curdling soymilk with a calcium or magnesium salt.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header >
      <img src="../../assets/icon/broco.png" alt="">
      <ion-card-title>Broccoli</ion-card-title>
      <ion-card-subtitle>Brassica oleracea var. italica</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Broccoli is an edible green plant in the cabbage family whose large flowering head, stalk and small associated leaves are eaten as a vegetable.
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <img src="../../assets/icon/flax.png" alt="">
      <ion-card-title>Flax Seed</ion-card-title>
      <ion-card-subtitle>Linum usitatissimum</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      It is cultivated as a food and fiber crop in regions of the world with temperate climates.
    </ion-card-content>
  </ion-card>
  </div>


</ion-content>
