<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Account Page
    </ion-title>
    <img src="../../assets/icon/logooo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <div class="cover">
        <img src="../../assets/icon/carrot-bg.jpg" alt="">
      </div>

      <div class="profile">
        <img src="../../assets/icon/carrot.jpg" alt="">
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Edrick Lloyd Defeo</ion-card-title>
      <ion-card-subtitle>Vegetarian</ion-card-subtitle>
      a person who does not eat meat, and sometimes other animal products, especially for moral, religious, or health reasons. IS ME!
    </ion-card-content>
  </ion-card>
    


</ion-content>
