<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Food Planner
    </ion-title>
    <img src="../../assets/icon/logooo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-slides>
    <ion-slide>
      <ion-card>
      <div class="slide">
        <h2>Different Kinds of Diet</h2>
        <img src="../../assets/icon/dif-diet.jpg" alt="">
        <p>
          One thing that all of these dietary patterns have in common is this: choose whole foods and foods with minimal processing and little added sugar and fat. A plate that regularly contains fried foods, sweets and other highly processed foods with added sugar and fat isn’t healthy.
To determine which diet is right for you, contact a registered dietitian nutritionist to help you navigate the pros and cons of each while meeting the needs for your body and lifestyle!
        <br><br>
        </p>
      </div>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/vegan.jpg" />
      <h2>Vegan</h2>
      <p>
        This diet eliminates meat, fish, poultry, eggs and dairy products, as well as other animal-derived products, such as honey. On this diet you are also restricted from rennet, gelatin, collagen and other types of animal protein; stocks or fats derived from animals.
        <br><br><br><br><br><br><br><br><br>
      </p>
    </ion-card>
    </ion-slide>

    
    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/vegetarian.jpg" />
      <h2>Vegetarian</h2>
      <p>
        Vegetarians abstain from the consumption of all animal flesh products, like red meat, fish and poultry. This may also include the abstention of by-products of animals processed for food. Apart from the health benefits of possibly reducing your risk of chronic diseases, it’s also adopted for ethical or environmental reasons.
        <br><br><br><br>
      </p>
    </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/pesca.jpg" />
      <h2>Pescatarian</h2>
      <p>
        This diet abstains from eating all meat and animal flesh (like red meat and poultry) with the exception of fish. A pescatarian is someone who maintains a vegetarian diet with the addition of fish and other seafood like shrimp, mussels, salmon, crabs and lobster.
        <br><br><br><br>
      </p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/flexi.jpg" />
      <h2>Flexitarian</h2>
      <p>
        This includes people who eat mostly vegetarian but occasionally eat meat which includes red meat, poultry, seafood and fish. Also referred to as a semi-vegetarian, when they do choose to meat, it’s sometimes free-range or organic animal products. There is no firm definition as to how much meat you should eat during the week, whether it’s once a day, once a week or occasionally, this diet is up to the individual person. 
        <br><br><br>
      </p>
    </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/macrobiotic.jpg" />
      <h2>Macrobiotic</h2>
      <p>
        Popularized by the Japanese, the Macrobiotic diet isn’t just about eating certain foods, it’s also about achieving balance in your life through food choices. Macrobiotic dieters are encouraged to eat regularly, chew their food thoughtfully, listen to their bodies, be active and maintain a positive mental outlook.
        <br><br><br><br><br><br><br><br><br><br>
      </p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="../../assets/icon/wonder.jpg" />
      <h2>Test yourself</h2>
      
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      <br><br><br><br><br><br><br><br><br><br><br>
    </ion-card>
    </ion-slide>
  </ion-slides>
</div>

<ion-card>
  asdsa
</ion-card>

</ion-content>
