*{
    font-family: 'Josefin Sans', sans-serif;
}
ion-header{
    --ion-background-color: #99B44A;
}
ion-toolbar img{
    height: 70px;
    width: 70px;
    float: right;
}
ion-title{
    font-size: 20px;
    --color: #404040;
}


